<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests" >
    <parameter name="browser" value="chrome"/>
    <listeners>
        <listener class-name="utils.Listeners.TestListener"/>
        <listener class-name="utils.Listeners.AnnotationTransformer"/>
    </listeners>
    <test name="com.tests.FirstTest" parallel="methods" thread-count="3">
        <classes>
            <class name="tests.FirstTest" >
            <methods>
                <include name="numberOfCardsEqualsToCounter" />
                <include name="orderOfDisplayedBlocks" />
            </methods>
            </class>
            <class name="tests.SecondTest">
                <methods>
                    <include name="VerifySearchByQA" />
                    <include name="verifyVideosByCriteria" />
                </methods>
        </class>
        </classes>
    </test>
</suite> <!-- Suite -->